:root {
    --color-main-green: #0F766E;
    --color-body-green: #ECFDF5;
    --color-secondry-green: #16A34A;
    --color-main-text: #14213D;
    --color-body-text: #64748B;
    --color-score: #A16207;
    --color-body-background: #F8FAFC;
    --color-item-background: #FFFFFF;
    --color-footer-background: #14213D;
    --color-border: #E5E7EB;
    --color-background-picture1: #E6F6FD;
    --color-background-picture2: #FEF4D3;
    --color-background-picture3: #E6EAFF;
    --shadow: 0px 0px 5px 1px rgba(59, 59, 59, 0.05);
}

*{
    font-family: vazirmatn;
    box-sizing: border-box;
}
body{
    font-family: vazirmatn;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-item-background);
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    position: fixed;
}
.navbar {
    width:100%;
    display: flex;
    margin: 0 30px;
}
.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    color: var(--color-main-green);
    margin: 0 20px;
    
}
.navbar__items{
    display: flex;
    flex-grow: 1;
    width: auto;
    align-items: center;
    margin: 0 20px;
    flex-wrap: wrap;

}
.navbar__right{
    display: flex;
    column-gap: 30px;
    flex-grow: 1;
    align-items: center;
    
}
.navbar__left{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: flex-end;
}
.navbar__item{
    color: var(--color-main-text);
    font-size: 14px;
    width: auto;
}
.link {
    text-decoration: none;
}
.navbar__cart {
    background-color: var(--color-body-green);
    color: var(--color-main-green);
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
}

.store{
    display: flex;
}

.footer{
    display: flex;

}
@media (prefers-color-scheme: dark) {
    :root {
        --color-main-green: #2DD4BF;
        --color-body-green: #123D3B;
        --color-secondry-green: #4ADE80;
        --color-main-text: #E2E8F0;
        --color-body-text: #94A3B8;
        --color-score: #FCBF24;
        --color-body-background: #0F172A;
        --color-item-background: #1E293B;
        --color-footer-background: #020617;
        --color-border: #334155;
        --color-background-picture1: #173D49;
        --color-background-picture2: #4A3711;
        --color-background-picture3: #2C2A5E;
        --shadow: 0px 0px 5px 1px rgba(204, 204, 204, 0.05);
    }
}

@media (max-width: 768px){
      .header {
        height: auto;
    }
    .navbar{
        margin: 0;
    }
     .navbar__items {
        width: 100%;
        margin: 20px 0;
        justify-content: space-between;
        gap: 12px;
    }
    .navbar__left{
        flex-grow: 1;
        margin: 0 25px;
    }
}